{
  "connection": {
    "user": "root",
    "password": "",
    "port": 3306,
    "host": "localhost"
  },
  "merge": {
    "group-schema": "db_group",
    "source-schemas": ["db_test1", "db_teste2", "db_teste3"],
    "template-schema": "db_template",
    "template-schema-file": "./db_template.sql"
  },
  "path": {
    "mergeable-class": "./mergeable"
  }
}
