{
    "rules-namespace": "\\My\\Merge\\Rules",
    "schemas": {
        "group": {
            "user": "root",
            "password": "",
            "port": 3306,
            "host": "localhost",
            "schema": "db_group"
        },
        "source": [
            {
                "user": "root",
                "password": "",
                "port": 3306,
                "host": "localhost",
                "schema": "db_teste1",
                "readonly": true
            }, {
                "user": "root",
                "password": "",
                "port": 3306,
                "host": "localhost",
                "schema": "db_teste2",
                "readonly": true
            }, {
                "user": "root",
                "password": "",
                "port": 3306,
                "host": "localhost",
                "schema": "db_teste3",
                "readonly": true
            }
        ],
        "template": {
            "user": "root",
            "password": "",
            "port": 3306,
            "host": "localhost",
            "schema": "db_template",
            "readonly": true
        }
    },
    "path": {
        "merge-rules": "./rules"
    }
}
